### Housing Analysis

In this notebook, you will be replicating much of what you saw in this lesson using the housing data shown below.

After you complete this notebook and the set of quizzes that follow, you will be set to try out your skills on a couple new datasets to gain some additional practice.  **Ignore the warning message**.

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm;

df = pd.read_csv('./house_price_area_only.csv')
df.head()

     price  area
0   598291  1188
1  1744259  3512
2   571669  1134
3   493675  1940
4  1101539  2208

`1.` Use the documentation [here](http://www.statsmodels.org/dev/regression.html) and the **statsmodels** library to fit a linear model to predict **price** based on **area**.  Obtain a summary of the results, and use them to answer the following quiz questions. Don't forget to add an intercept.

In [8]:
df = sm.add_constant(df, prepend=False)

In [11]:
df

        price  area  const
0      598291  1188    1.0
1     1744259  3512    1.0
2      571669  1134    1.0
3      493675  1940    1.0
4     1101539  2208    1.0
5      455235  1785    1.0
6     1489871  2996    1.0
7      821931  3263    1.0
8      299903  1159    1.0
9      321975  1248    1.0
10     863995  3432    1.0
11     968251  3853    1.0
12     576755  2275    1.0
13     356333   698    1.0
14      76647   260    1.0
15     377375  1472    1.0
16    1099099  4380    1.0
17     497643  1956    1.0
18     835571  3318    1.0
19      32023    40    1.0
20     732155  2901    1.0
21    1007072  2017    1.0
22    2209887  4456    1.0
23     297671  1150    1.0
24    1361350  2735    1.0
25     591389  1174    1.0
26     400923  1566    1.0
27    1055051  4203    1.0
28    1656998  3335    1.0
29     336607  1307    1.0
...       ...   ...    ...
5998  1821319  3668    1.0
5999   502603  1976    1.0
6000   295039  1140    1.0
6001   339431  1319    1.0
6002  1260474  2531    1.0
6003   581467  2294    1.0
6004  1777935  3580    1.0
6005   780267  3095    1.0
6006  1833492  3693    1.0
6007   783491  3108    1.0
6008   907891  3609    1.0
6009   508555  2000    1.0
6010   510878  1011    1.0
6011   900299  3579    1.0
6012  1008415  4014    1.0
6013   863347  3430    1.0
6014   488467  1919    1.0
6015   979315  3897    1.0
6016  1095627  4366    1.0
6017   279815  1078    1.0
6018  3070172  6201    1.0
6019   328423  1274    1.0
6020   330007  1281    1.0
6021   423987  1659    1.0
6022   747531  2963    1.0
6023   385420   757    1.0
6024   890627  3540    1.0
6025   760829  1518    1.0
6026   575515  2270    1.0
6027   844747  3355    1.0

[6028 rows x 3 columns]

In [15]:
df.iloc[:,1:3]

      area  const
0     1188    1.0
1     3512    1.0
2     1134    1.0
3     1940    1.0
4     2208    1.0
5     1785    1.0
6     2996    1.0
7     3263    1.0
8     1159    1.0
9     1248    1.0
10    3432    1.0
11    3853    1.0
12    2275    1.0
13     698    1.0
14     260    1.0
15    1472    1.0
16    4380    1.0
17    1956    1.0
18    3318    1.0
19      40    1.0
20    2901    1.0
21    2017    1.0
22    4456    1.0
23    1150    1.0
24    2735    1.0
25    1174    1.0
26    1566    1.0
27    4203    1.0
28    3335    1.0
29    1307    1.0
...    ...    ...
5998  3668    1.0
5999  1976    1.0
6000  1140    1.0
6001  1319    1.0
6002  2531    1.0
6003  2294    1.0
6004  3580    1.0
6005  3095    1.0
6006  3693    1.0
6007  3108    1.0
6008  3609    1.0
6009  2000    1.0
6010  1011    1.0
6011  3579    1.0
6012  4014    1.0
6013  3430    1.0
6014  1919    1.0
6015  3897    1.0
6016  4366    1.0
6017  1078    1.0
6018  6201    1.0
6019  1274    1.0
6020  1281    1.0
6021  1659    1.0
6022  2963    1.0
6023   757    1.0
6024  3540    1.0
6025  1518    1.0
6026  2270    1.0
6027  3355    1.0

[6028 rows x 2 columns]

In [20]:
mod = sm.OLS( df['price'], df.iloc[:,1:3])
res = mod.fit()

In [21]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                 1.269e+04
Date:                Thu, 01 Sep 2022   Prob (F-statistic):               0.00
Time:                        03:57:48   Log-Likelihood:                -84517.
No. Observations:                6028   AIC:                         1.690e+05
Df Residuals:                    6026   BIC:                         1.691e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
area         348.4664      3.093    112.662      0.000     342.403     354.530
const       9587.8878   7637.479      1.255      0.209   -5384.303    2.46e+04
==============================================================================
Omnibus:                      368.609   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              349.279
Skew:                           0.534   Prob(JB):                     1.43e-76
Kurtosis:                       2.499   Cond. No.                     4.93e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.93e+03. This might indicate that there are
strong multicollinearity or other numerical problems.